.page-footer {
  background-color: #303030;
}

.footer-copyright {
  background-color: #222222;
}

.fa {
  padding: 20px;
  font-size: 25px;
  color: white;
}

.fa:hover {
  color: grey;
  text-decoration: none;
}
