<mat-toolbar color="primary" class="navbar">

    <button mat-button routerLink="/">
    <a href="#page-top" class="navbar-brand js-scroll-trigger"> <img src="assets/images/w3newbie.png" alt=""> </a>
    </button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <!-- <div fxLayout="row" fxShow="false" fxShow.gt-sm> -->
    <div>
      <ul class="nav navbar-nav navbar-right text-uppercase ml-auto">
        <li class="nav-item active js-scroll-trigger"> <a href="#page-top">Home</a> </li>
        <li class="nav-item js-scroll-trigger"> <a href="#page-about">About</a> </li>
        <li class="nav-item js-scroll-trigger"> <a href="#page-news">Browse</a> </li>
        <li class="nav-item js-scroll-trigger"> <a href="#page-pricing">Pricing</a> </li>
        <li class="nav-item js-scroll-trigger"> <a href="#page-contact">Contact</a> </li>
      </ul>
    </div>
    <!-- <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm class="navbar-toggle">
     <mat-icon>menu</mat-icon>
    </button> -->

</mat-toolbar>
<!-- <mat-menu x-position="before" #menu="matMenu">
  <ul class="nav navbar-nav navbar-right text-uppercase ml-auto">
    <li class="nav-item active js-scroll-trigger"> <a href="#page-top">Home</a> </li>
    <li class="nav-item js-scroll-trigger"> <a href="#page-about">About</a> </li>
    <li class="nav-item js-scroll-trigger"> <a href="#page-news">Browse</a> </li>
    <li class="nav-item js-scroll-trigger"> <a href="#page-pricing">Pricing</a> </li>
    <li class="nav-item js-scroll-trigger"> <a href="#page-contact">Contact</a> </li>
  </ul>
</mat-menu> -->


<app-image-slider id="page-top"></app-image-slider>
<app-about id="page-about"></app-about>
<app-news id="page-news"></app-news>
<app-pricing id="page-pricing"></app-pricing>
<app-contact id="page-contact"></app-contact>
