<div class="container text-container">
  <h2 class="h2">See the 2018 Grammy Nominees</h2>
  <br>
  <!-- <div class="row"> -->
  <div>
    <!-- <div class="col-md-6"> -->
    <div>
      <img src="assets/images/gambino.jpg" class="img-responsive" id="icon" alt="">
      <h4>Awaken, my Love!, by Childish Gambino</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

    <!-- <div class="col-md-6"> -->
    <div>
      <img src="assets/images/jayz.jpg" class="img-responsive" id="icon" alt="">
      <h4>4:44, by Jay Z</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>

  <!-- <div class="row"> -->
  <div>
    <!-- <div class="col-md-6"> -->
    <div>
      <img src="assets/images/kendrick.jpg" class="img-responsive" id="icon" alt="">
      <h4>DAMN., by Kendrick Lamar</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

    <!-- <div class="col-md-6"> -->
    <div>
      <img src="assets/images/lorde.jpg" class="img-responsive" id="icon" alt="">
      <h4>Melodrama, by Lorde</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>

  <!-- <div class="row"> -->
  <div>
    <!-- <div class="col-md-6"> -->
    <div>
      <img src="assets/images/bruno.jpg" class="img-responsive" id="icon" alt="">
      <h4>24K Magic, by Bruno Mars</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
</div>
