.carousel {
  height: 100%;
}

.carousel-caption {
  height: 100%;
  text-transform: uppercase;
}

.btn {
  font-size: 18px;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 12px 22px 12px 22px;
  background-color: black;
  border: 0;
}

.h1 {
  position: relative;
  padding: 25px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: white;
  letter-spacing: 2px;
  font-weight: 300;
  color: black;
  max-width: 50%;
  text-shadow: none;
  font-size: 100%;
  margin-top: 30%;
}

@media only screen and (max-width: 600px) {
    .h1 {
          font-size: 50%;
          padding: 10px;
    }
    .btn {
      font-size: 12px;
      letter-spacing: 1px;
      padding: 0;
      margin: 0;
    }
}
