#icon {
  max-width: 50%;
  margin: 1% auto;
}

.container {
  padding-top: 4%;
}

.h2 {
  position: relative;
  padding: 15px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url("assets/images/paper.jpg");
  letter-spacing: 2px;
  font-weight: 300;
  color: white;
  max-width: 75%;
  width: max-content;
  text-shadow: none;
  font-size: 100%;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Safari */
  transform: rotate(-2deg);
}

h4 {
  position: relative;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  color: black;
  text-shadow: none;
  font-size: 100%;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}


.rounded-img {
  background-color: black;
  border-radius: 100%;
}
