<div class="container text-container">
  <h2 class="h2">You´ll certainly find Your Jams in Here</h2>
  <br>
  <div class="row">
    <div class="col-xs-4">
      <img src="assets/images/html5.png" class="img-responsive rounded-img" id="icon" alt="">
      <h4>Thousands of artists and bands ready for you to discover</h4>
    </div>

    <div class="col-xs-4">
      <img src="assets/images/bootstrap.png" class="img-responsive rounded-img" id="icon" alt="">
      <h4>Top handpicked content curated just for you</h4>
    </div>

    <div class="col-xs-4">
      <img src="assets/images/css3.png" class="img-responsive rounded-img" id="icon" alt="">
      <h4>3 months for free</h4>
    </div>
  </div>
</div>
